In [4]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))

4.0

In [7]:
#2.Find the error in the following Python code:
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

In [9]:
#3.x = 5
if (x == 10):
    print("x is 10")

x is 10

In [11]:
#4.
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [13]:
#5.
def square(n):
    return n * n

print(square(4))

16

In [15]:
#6.
my_tuple = (1, 2, 3)
temp_list = list(my_tuple)
temp_list[1] = 5
my_tuple = tuple(temp_list)
print(my_tuple)

(1, 5, 3)

In [18]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name, age))
print(f"My name is {name} and I am {age} years old")

My name is Alice and I am 25 years old
My name is Alice and I am 25 years old

In [20]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if (a == b):
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])